# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.envrc
.venv/
env/
ENV/

# OS / editor files
.DS_Store
.vscode/

# Docker
*.log

# FastAPI static build artifacts (if any)
staticfiles/

# Ignore secrets EXCEPT the one you need in Docker
# DO NOT ignore fastapi_service/.env
# Only ignore root-level .env
/.env

# Pytest / coverage
.pytest_cache/
.coverage
